<%- include('partials/header') %>

<body>
  <div>
    <h1 class="error ajasko-center">The place you were looking for was not found</h1>
    <div class="ajasko-center">
      <a href='/'>Check another Location</a>
    </div>


    <p class="mt-5 mb-3 text-muted ajasko-center"><%- include('partials/copyright') %></p>
  </div>
</body>

<%- include('partials/footer') %>
